#mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    width: 300px;
  }
  
  button[type="submit"] {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    width: 100px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #555;
  }
  .headerElem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .headerElem div {
    font-size: 30px;
    font-weight: bold;
  }
  
  
  
  input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
  }
  
  button[type="submit"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #555;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #777;
  }

  
 
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    width: 250px;
  }
  
  button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.3s ease;
    width: 250px;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #555;
  }


  #navBar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 200px;
    left: 0;
    top: 67px;
  }
  
  /* Style the navigation links */
  #navBar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  #navFeature {
    border-bottom: 1px solid #fff;
  }
  
  #navFeature:last-child {
    border-bottom: none;
  }
  
  #navBar a:hover {
    background-color: #555;
  }